<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1:5432/hiber</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">password</property>
        <property name="hibernate.connection.pool_size">1</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
        <property name="hibernate.jdbc.time_zone">Europe/Moscow</property>


        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="use_sql_comments">true</property>

        <mapping class="hiber.hql.Candidate"/>
        <!--        <mapping class="hiber.toone.User"/>-->
        <!--        <mapping class="hiber.toone.Role"/>-->
        <mapping class="hiber.many.User"/>
        <mapping class="hiber.many.Role"/>
        <!--        <mapping class="hiber.many.car.Car"/>-->
        <!--        <mapping class="hiber.many.car.Model"/>-->
        <mapping class="hiber.manytomany.Person"/>
        <mapping class="hiber.manytomany.Address"/>
<!--        <mapping class="hiber.manytomany.books.Book"/>-->
<!--        <mapping class="hiber.manytomany.books.Author"/>-->
        <mapping class="hiber.lazy.Category"/>
        <mapping class="hiber.lazy.Task"/>
        <mapping class="hiber.lazy.car.Car"/>
        <mapping class="hiber.lazy.car.Model"/>
        <mapping class="hiber.date.Product"/>
        <mapping class="hiber.hql.Account"/>
        <mapping class="hiber.hql.Student"/>
        <mapping class="hiber.hql.Book"/>
        <mapping class="hiber.hql.VacancyDB"/>
        <mapping class="hiber.hql.Vacancy"/>

    </session-factory>
</hibernate-configuration>